*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.content {
  display: flex;
  gap: 30px;
  align-items: end;
  inline-size: 1140px;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}
.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}
.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__textfield {
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  inline-size: 225px;
  padding: 2.5px 0;
}
.title {
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__card-link_current {
  background-color: #545050;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  position: relative;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  inset: 1px;
  background-color: #fff;
  content: '';
  position: absolute;
  inset: 1px;
  background-color: #fff;
}
.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  padding: 6px 73.5px;
  align-self: end;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__submit-button {
  min-inline-size: 194px;
}
.more-button {
  inline-size: 100%;
  padding: 6px;
}
.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  block-size: 534px;
  inline-size: 100%;
}
.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  scrollbar-width: none;
}
.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}
.content__video-card {
  display: flex;
  align-items: start;
  gap: 10px;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  inline-size: 100%;
}
.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}
.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}